/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

button {
    color: inherit;
    background-color: transparent;
    border: none;
}

/* CLASSES */

/* Classes>flow */

.floater {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flexer {
    display: flex;
}

.flexer.wrap {
    flex-wrap: wrap;
}

.flexer.col {
    flex-direction: column;
}

.flexer.between {
    justify-content: space-between;
}

.flexer.center-cross {
    align-items: center;
}

/* Classes>text */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.upper {
    text-transform: uppercase;
}

/* lists */
.list-inline li {
    display: inline-block;
}

/* Classes>display */

.dis-in-block {
    display: inline-block;
}



/* TeST */

.col-4 {
    width: calc(100% / 3);
}

.col-6 {
    width: calc(100% / 2);
}

.col-3 {
    width: calc(100% / 4);
}

.vermid {
    vertical-align: middle;
}