/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

button {
    color: inherit;
    background-color: transparent;
    border: none;
}

img {
    width: 100%;
}

/* CLASSES */

/* Classes>flow */

.floater {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flexer {
    display: flex;
}

.flexer.wrap {
    flex-wrap: wrap;
}

.flexer.col {
    flex-direction: column;
}

.flexer.end {
    justify-content: flex-end;
}

.flexer.between {
    justify-content: space-between;
}

.flexer.center-cross {
    align-items: center;
}

/* Classes>text */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.upper {
    text-transform: uppercase;
}

/* lists */
.list-inline li {
    display: inline-block;
}



.rounded {
    border-radius: 50%;
}

/* APPUNTI TEST */

/* paddings bottom: h2,
h3 15px 
p 10px 
nav .navigation li,
nav .playlist li,
.create-playlist,
.playlist h2 20px
.user .install 10px
.main-content>*40px
h2~p {
    padding-bottom: 15px;
} */