.xs-visible {
    display: none;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-stretch: semi-condensed;
    font-weight: 600;
    color: #a3a3a3;
    font-size: 0.8rem;
    /* min-width: 320px; */
}

/* COMMON text-color */
a:hover,
nav .focused,
body>header,
.layover-content,
.song-player {
    color: white;
}

h2,
h3,
h4,
.user-area,
.big-button {
    color: white;
    font-weight: 800;
}

h2,
h3,
p {
    padding-bottom: 10px;
}

.caption {
    padding-top: 10px;
}

.big-button {
    margin-top: 20px;
}


.lr-padder {
    padding-left: 15px;
    padding-right: 15px;
}

.big-button:hover,
.main-content>header li:hover {
    font-size: 130%;
}

/* NAV */

nav {
    float: left;
    background: #000000;
    height: 100%;
    width: 220px;
    overflow: hidden;
}

nav .focused {
    position: relative;
}

nav .focused::before {
    content: "";
    border-right: 4px solid #adff2f;
    height: 2.6em;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: -15px;
}

.logo-container {
    height: 80px;
    padding-top: 15px;
}

/* Nav imgs&icons */
nav img:not(.logo) {
    width: 2rem;
    vertical-align: middle;
}

.logo {
    width: 75%;
}

.logo-small {
    width: 100%;
}

.install img {
    height: 1.3rem;
}

.user-icon {
    background-color: #808080;
    height: 2rem;
}

nav li,
.create-playlist,
.playlist h2 {
    padding-bottom: 20px;
}

.playlist-container {
    flex-grow: 1;
}

.playlist ul {
    overflow: auto;
    /* test */
    max-height: 30vh;
}

.playlist .fa-plus {
    font-size: 120%;
    padding: 0.5rem;
    background-color: grey;
    color: black;
    margin-right: 0.4rem;
}

.user,
.install {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* END NAV */

/* FIXED */
body>header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 220px;
    /* right: 0; */
    /* a dargli direttamente right:  0 ho notato comportamenti strani */
    width: calc(100% - 220px);
    height: 80px;
    background-color: #080b12;
    opacity: 0.8;
    padding: 30px 25px;
}

.big-button {
    border: 1px solid;
    padding: 15px 8%;
    border-radius: 20px;
}

/* END FIXED */

/* MAIN */
#app-wrapper {
    height: 100vh;
    width: 100%;
}

main {
    height: calc(100% - 100px);
}

.main-content {
    padding-top: 90px;
    background-color: #141922;
    float: left;
    overflow-y: auto;
    height: 100%;
    width: calc(100% - 220px);
}

.main-content>* {
    padding-bottom: 40px;
}

/* Main>header */
.main-content>header li {
    padding: 10px 10px;
}

.main-content>header li.focused::after {
    content: "";
    border-bottom: 3px solid yellowgreen;
    display: block;
    width: 30%;
    margin: auto;
}

/* Recents */
.recent-playlist {
    width: calc(100% / 6);
    padding-right: 15px;
}

/* devo resettare padding right di 15px a sto giro */
.recents {
    margin-right: -15px;
}

.main-content .cover-container {
    position: relative;
    overflow: hidden;
}

.cover-container img {
    display: block;
}

.layover {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    padding-top: 50%;
    display: none;
}

.layover-content {
    transform: translateY(-50%);
    font-size: 300%;
}

.cover-container:hover .layover {
    display: block;
    cursor: pointer;
}

/* FOOTER */

footer {
    background-color: #282828;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

footer [class*="content"] * {
    vertical-align: middle;
}

footer .song-player {
    flex-grow: 1;
}

.side-content {
    width: 30%;
}

/* Left-col */
footer img {
    width: 70px;
    padding-right: 8px;
}

footer .captions {
    padding-right: 10%;
}

/* Center-col */

.player-buttons * {
    vertical-align: middle;
    font-size: 110%;
}

.player-buttons .fa-play-circle {
    font-size: 2.2rem;
}

/* status-bar */

.song-player .rounded-bar {
    margin: auto 2%;
}

.rounded-bar {
    display: inline-block;
    border-radius: 15px;
    background-color: #5a5a5a;
    width: 50%;
    height: 0.4rem;
}

.progress-status {
    border-radius: 15px;
    height: 100%;
    width: 30%;
    background-color: #c1c1c1;
}

.rounded-bar:hover .progress-status {
    background-color: greenyellow;
}

.pointer {
    background: white;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    position: relative;
    top: -50%;
    left: 100%;
    transform: translateX(-50%);
    display: none;
}

.rounded-bar:hover .pointer {
    display: block;
}

.side-content .rounded-bar {
    width: 150px;
}

.side-content .progress-status {
    width: 50%;
}

footer i {
    padding-left: 5px;
    padding-right: 5px;
}

/* QUERIES
   ======================================================= */

/* +++ LG +++ */
@media screen and (max-width: 991px) {
    .recent-playlist {
        width: calc(100% / 4);
    }
}

/* +++ MD +++ */
@media screen and (max-width: 767px) {
    .recent-playlist {
        width: calc(100% / 2);
    }
}

/* +++ S +++ */
@media screen and (max-width: 576px) {
    .xs-hidden {
        display: none;
    }

    .xs-visible {
        display: initial;
    }

    nav {
        width: 60px;
        align-items: center;
    }

    .main-content,
    body>header {
        left: 60px;
        width: calc(100% - 60px);
    }
}

/* +++ XS +++ */
@media screen and (min-width: 577px) {
    .user {
        border-top: 1px solid grey;
    }
}

/* A PARTE, BONUS, ROBE MIE */
@media screen and (max-width: 420px) {
    body {
        overflow-y: hidden;
    }

    body>header {
        padding: 35px 0;
    }

    .big-button {
        border: none;
        position: relative;
    }

    .big-button::after {
        content: "x";
        font-size: 60%;
        position: absolute;
        top: 0;
        right: 4px;
        border: 1px solid white;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        text-align: center;
    }


    .list-inline li {
        display: list-item;
    }

    .main-content {
        text-align: center;
    }

    .recent-playlist {
        width: 100%;
        margin: auto;
    }

    .side-content {
        position: absolute;
        bottom: -1000px;
        flex-direction: row;
    }

    footer {
        position: relative;
    }

    .side-content .captions * {
        display: inline;
    }

    footer p {
        padding-bottom: 0;
        padding-left: 5px;
    }

    .side-content .captions {
        display: block;
        position: absolute;
        top: -1030px;
        width: 200px;
        left: 50%;
    }
}