* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    color: inherit;
    background-color: transparent;
    border: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* COMMON */

.flexer {
    display: flex;
    flex-wrap: wrap;
}

.flexer.between {
    justify-content: space-between;
}

.flexer.center-cross {
    align-items: center;
}

.list-inline li {
    display: inline-block;
}

.upper {
    text-transform: uppercase;
}

/* END COMMON */


/* TEST */

body {
    font-family: 'Roboto', sans-serif;
    background: black;
    color: white;
    font-size: 0.9rem;
}

/* END TEST */

/* Main>header */
/* padding da dare, valutare se creare classe, qua forse è diverso */
main>header li {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}

main>header li:hover {
    font-size: 130%;
}

main>header li.focused::after {
    content: "";
    border-bottom: 3px solid yellowgreen;
    display: block;
    width: 30%;
    margin: auto;
}



/* Recents */
.recent-playlist {
    width: calc(100% / 6);
    /* TEST */
    padding: 15px;
}

.cover-container {
    position: relative;
}

.layover {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    padding-top: 50%;
    display: none;
}

.layover-content {
    transform: translateY(-50%);
    font-size: 300%;
}

.cover-container:hover .layover {
    display: block;
    cursor: pointer;
}

.caption h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* most_popular */

.most_popular .cover-container img {
    border-radius: 50%;
}


/* FOOTER */

footer img {
    width: 40px;
}

footer {
    background-color: #282828;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* TEST */
    height: 80px;
}

footer .caption {
    display: inline-block;
}

.song-length {
    border-radius: 15px;
    background-color: #5a5a5a;
    /* TEST */
    width: 200px;
    height: 10px;
}

.progress-status {
    border-radius: 15px;
    height: 100%;
    width: 40%;
    background-color: #c1c1c1;
}

.pointer {
    background: white;
    height: 150%;
    width: 15px;
    border-radius: 50%;
    position: relative;
    top: -25%;
    display: none;
    /* vorrei evitare possibilmente di usare un qualche position per piazzarlo */
}

.song-length:hover .progress-status {
    background-color: greenyellow;
}

.song-length:hover .pointer {
    display: inline-block;
}

.side-content .song-length {
    display: inline-block;
}