.xs-visible {
    display: none;
}


.main-content img {
    width: 100%;
}

/* TEST */
main>nav img {
    height: 50px;
    vertical-align: middle;
}

body {
    font-family: 'Roboto', sans-serif;
    background: black;
    color: white;
    font-size: 0.9rem;
    min-width: 320px;

}

/* END TEST */

body>header {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 220px);
    height: 80px;
    background-color: #080b12;
    overflow: hidden;
    padding: 30px;

}

.big-button {
    border: 1px solid white;
    padding: 15px;
    border-radius: 20px;
}

.big-button:hover {
    font-size: 130%;
}

#app-wrapper {
    height: 100vh;
    width: 100%;
}

main {
    height: calc(100% - 100px);
}

nav {
    float: left;
    background: #000000;
    height: 100%;
    width: 220px;
}

.main-content {
    padding-top: 120px;
    background-color: #141922;
    float: left;
    overflow-y: scroll;
    height: 100%;
    width: calc(100% - 220px);
}

.main-content>* {
    padding-bottom: 40px;
}

/* Main>header */
/* padding da dare, valutare se creare classe, qua forse è diverso */
.main-content>header li {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
}

.main-content>header li:hover {
    font-size: 130%;
}

.main-content>header li.focused::after {
    content: "";
    border-bottom: 3px solid yellowgreen;
    display: block;
    width: 30%;
    margin: auto;
}



/* Recents */
.recent-playlist {
    width: calc(100% / 6);
    /* TEST */
    padding: 15px;
}

.cover-container {
    position: relative;
}

.layover {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    padding-top: 50%;
    display: none;
}

.layover-content {
    transform: translateY(-50%);
    font-size: 300%;
}

.cover-container:hover .layover {
    display: block;
    cursor: pointer;
}

.caption h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* most_popular */

.most_popular .cover-container img {
    border-radius: 50%;
}


/* FOOTER */

footer img {
    width: 40px;
}

footer {
    background-color: #282828;
    color: white;
    /* TEST */
    height: 100px;
    overflow: hidden;
}

footer .caption {
    display: inline-block;
}

.footer .side-content {
    vertical-align: top;
}

.song-length {
    vertical-align: middle;
    border-radius: 15px;
    background-color: #5a5a5a;
    /* TEST */
    width: 200px;
    height: 10px;
}

.progress-status {
    border-radius: 15px;
    height: 100%;
    width: 40%;
    background-color: #c1c1c1;
}

.pointer {
    background: white;
    height: 150%;
    width: 15px;
    border-radius: 50%;
    position: relative;
    top: -25%;
    display: none;
    /* vorrei evitare possibilmente di usare un qualche position per piazzarlo */
}

.song-length:hover .progress-status {
    background-color: greenyellow;
}

.song-length:hover .pointer {
    display: inline-block;
}


.side-content .song-length {
    display: inline-block;
    width: 100px;
}

.side-content .progress-status {
    width: 50%;
}


@media screen and (max-width: 991px) {
    .recent-playlist {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 767px) {
    .recent-playlist {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px) {
    .xs-hidden {
        display: none;
    }

    .xs-visible {
        display: initial;
    }

    nav {
        width: 70px;
        text-align: center;
    }

    .main-content,
    body>header {
        width: calc(100% - 70px);
    }
}